@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* .hamburger-line {
  @apply w-[30px] h-[2px] my-2 block bg-secondary-gray;
}

.hamburger-active > span:nth-child(1) {
  @apply rotate-45 translate-y-1.5;
} */
